$text-color: #333333;
// $neutral-grey: #fafafa;
$neutral-grey: #e0ddd9;

$dark-grey: #cecece;

$page-cover-color: #dbbea1;

$footer-bg-color: #3b3b3a;
$footer-txt-color: #bbbbbb;

.neutral-grey {
  background-color: $neutral-grey;
}

.dark-grey {
  background-color: $dark-grey;
}

.page-cover-color {
  background-color: $page-cover-color;
}

.white {
  background-color: #fff;
}
