.wp-block-image .alignleft {
  @media only screen and (min-width: 960px) {
    margin: 0 2rem 30px -70px !important;
  }
}

.wp-block-image .alignright {
  @media only screen and (min-width: 960px) {
    margin: 0 0 30px;
    margin-right: -135px;
  }
}

// .wp-block-media-text .wp-block-media-text__media {
//   grid-area: media-text-media;
//   margin: 0;
//   padding: 0 4% 0 8% !important;
// }

// .wp-block-media-text .wp-block-media-text__content {
//   word-break: break-word;
//   grid-area: media-text-content;
//   padding: 0 8% 0 4% !important;
// }

.wp-block-media-text {
  padding: 0 40px;
}
